* {
    font-family:Roboto;
}
/*Header*/
header{
    background-color: #507DBC;
}
#logo {
    width: 50px;
}
.nav-link .fa-lg {
    font-size: 1.5em; 
}
.navbar-nav .nav-item a i{
    margin-left: 20px; 
}

.navbar-nav.ml-auto {
    margin-left: auto;
}
.custom-icon {
    font-size: 20px; 
}
/*BARRA D BUSQUEDA*/
.form-control {
    border-radius: 0.25rem; 
}

.btn-outline-success {
    border-radius: 0.25rem;
}
.search-form {
    width: 40%; 
}

/*footer */

.footer .list-unstyled a {
    text-decoration: none;
    color: white;
    transition: color 0.2s;
}

.footer .list-unstyled a:hover {
    color: #ddd;
}


.footer .fab {
    font-size: 1.5rem;
    transition: color 0.2s;
}

.footer .fab:hover {
    color: #ddd;
}
footer {
    margin-top: 20px;
    padding-top: 20px;
}

footer h5 {
    margin-bottom: 10px;
}

footer .fa-whatsapp, 
footer .fa-instagram, 
footer .fa-youtube {
    font-size: 1.5rem;
}

.agregarCart{
    margin-top: 20px;
}
.guiaTalles{

    text-decoration: none;
}
